@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Overpass:wght@400;700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,400;1,800;1,900&display=swap");

body {
    background-color: #f4f4f4;
    /* height: 2500px; */
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Raleway", sans-serif; */

}

.wrapper {
    /* display: flex; */
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

.profile {
    /* padding: 10px; */
    position: fixed;
    max-width: 350px;
    /* text-align: center; */
} 
.profile h1 {
    background-color: rgb(57, 46, 107);
    color: white;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dp img {
    border-radius: 50%;
    width: 250px;
}
.details {
    margin-left: 420px;
}
h2 {
    margin: 20px 0;
}


/* TEMPLATE FOR STAGE  */
.stage {
    display: flex;
    margin: 20px 0;
}
.stage span {
    font-weight: 600;
}
.logo {
    margin: 0 20px;
    height: 60px;
    width: 60px;
}
.main-topic p {
    font-weight: 600;
}
.duration , .location {
    color: rgba(0, 0, 0, 0.76);
}
.location {
    margin-bottom: 10px;
}

.news {
    padding-left: 25px;
    margin-left: 10px;
    border-left: 5px solid green;
    margin-bottom: 20px;
    border-radius: 3px;
}
.news span {
    font-weight: bold;
    color: blue;
}
.news1{
    border-left: 5px solid red;
}
.news2{
    border-left: 5px solid blue;
}
.quote {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0 20px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: 1px solid blue;
    margin-top: 20px;
    margin-bottom: 30px;
}
footer {
    width: 100%;
    /* height: 50px; */
    background-color: rgb(57, 46, 107);
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.social a {
    text-decoration: none;
    margin-right: 15px;
}
.youtube {
    margin-top: 100px;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 1000px) {
    .profile {
        /* padding: 10px; */
        position: relative;
        max-width: 100%;
        text-align: center;
        /* text-align: center; */
    } 
    .profile h1 {
        position: fixed;
        width: 100vw;
        border-radius: 0;
        text-align: left;
    }
    .dp {
        padding-top: 120px;
    }

    .youtube {
        max-width: 100vw;
    }
    .wrapper {
        /* display: flex; */
        max-width: 95%;
        margin: 0 auto;
        justify-content: center;

    }
    .details {
        margin-left: 0px;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding: 5%;
        text-align: center;
    }
    footer div {
        margin-top: 8px;
    }
    li {
        margin-bottom: 14px;
    }
    .dp img {
        width: 150px;
    }
    
}